x-airflow-common:
  &airflow-common
  build:
    context: ./airflow
  environment:
    &airflow-common-env
    AIRFLOW__CORE__EXECUTOR: LocalExecutor
    AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: "postgresql+psycopg2://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres/${POSTGRES_DB}"
    AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION: 'true'
    AIRFLOW__API__AUTH_BACKENDS: 'airflow.api.auth.backend.basic_auth'
    _PIP_ADDITIONAL_REQUIREMENTS: ""
  volumes:
    - ./airflow/dags:/opt/airflow/dags:z
    - ./airflow/logs:/opt/airflow/logs:z
    - ./airflow/plugins:/opt/airflow/plugins:z
  user: "${AIRFLOW_UID}:0"
  depends_on:
    - postgres


services:
  postgres: 
    build:
      context: ./postgres
    container_name: project_kimball_postgres
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  airflow-webserver:
    <<: *airflow-common
    container_name: project_kimball_webserver
    command: webserver
    ports:
      - "${AIRFLOW_PORT}:8080"
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:8080/health"]
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 30s
  
  airflow-scheduler:
    <<: *airflow-common
    container_name: project_kimball_scheduler
    command: scheduler

  airflow-init:
    <<: *airflow-common
    container_name: project_kimball_init
    command: bash -c "airflow db migrate && airflow users create  \
      --username admin  \
      --password admin  \
      --firstname Admin \
      --lastname User \
      --role Admin  \
      --email admin@example.com"

  metabase:
    image: metabase/metabase:v0.57.7.x
    container_name: project_kimball_metabase
    depends_on:
      - postgres
    ports:
    - "3000:3000"
    environment:
      MB_DB_FILE: /metabase-data/metabase.db
    volumes:
    - metabase_data:/metabase-data
    

volumes:
  postgres_data:
  metabase_data: